<button (click)="triggerSyntaxError()">Trigger SyntaxError</button>
<br />
<button (click)="triggerURIError()">Trigger SyntaxError</button>
<br />
<button (click)="triggerRangeError()">Trigger RangeError</button>
